language: ruby
rvm:
 - 2.2
 - jruby

services:
  - postgresql

before_script:
  - cp config/database.travis.yml config/database.yml
  - psql -c "CREATE USER \"wbooks-api\" WITH PASSWORD 'wbooks-api';" -U postgres
  - psql -c "DROP DATABASE IF EXISTS \"wbooks_api_test\";" -U postgres
  - psql -c "CREATE DATABASE \"wbooks_api_test\" ENCODING 'utf8';" -U postgres
  - bundle exec rake db:migrate
script:
  - bundle exec rspec spec -fd
  - bundle exec rubocop app spec --format simple

cache:
  bundler: true